<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="usuario.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Senha" ng-model="usuario.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 10px;"></div>
            <a href="#/perolas" class="button button-positive button-block " ng-click="login()">Logar</a>
            <a href="#/cadastrar" class="button button-positive button-clear button-block ">Ou crie uma conta...</a>
        </form>
    </ion-content>
</ion-view>
