<ion-view title="Pérolas">
    <ion-content padding="true" class="has-header">
            <a href="#/novaperola" class="button button-positive button-block ">Nova pérola</a>


        <ion-list>
            <ion-item class="item item-button-right">
                <h2>Fulano diz:</h2>
                <p>Soltarei a franga....</p>
              <button class="button button-positive button-clear">
      <i class="icon ion-star"></i>
    </button>
            </ion-item>
             <ion-item class="item item-button-right">
                <h2>Ciclano diz:</h2>
                <p>Bláblábla....</p>
              <button class="button button-positive button-clear">
      <i class="icon ion-star"></i>
    </button>
            </ion-item>


            </ion-list>


    </ion-content>
</ion-view>
